body {
  font-family: 'Roboto', 'Arial', sans-serif;
  Background: #ffffff;
  font-style: normal;
  --var-color-fondo: #2F303A;
  --var-color-fondo1: #F5F4FA;
  
  
}
:root {
  --var-color-text: #757575;
  --var-color-fondo-hover-focus: #2196F3;
  --var-colo-text-hover-focus: #FFFFFF;
  --var-color-fondo: #2F303A;
  --var-color-fondo1: #F5F4FA;
}

.header {
 
  background: #ffffff;
}

.link-web {
  
font-size: 26px;
line-height: 1.15em;
text-decoration: none;

text-align: right;
letter-spacing: 0.03em;

color: #2196F3;


}

ul {
  list-style: none;
}
.stud-text {
  
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}

.stud-tex {
 

font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;
color: #212121;

}
.stud-tex:hover {
  color: #2196f3;
  text-decoration: none;
  font-size: 14px;
 
}
  

.link:hover {
  font-style: 14px;
  
  text-decoration: none;
  color: #19191a;
  
}

.email:hover {
  font-size: 14px;
  color: #2196f3;

}

.email {
  
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;
  
}

.contact:hover {
  color: #2196f3;
  
}

.contact {
  
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;

}
main {
  background: var(--var-colo-text-hover-focus);
}

.container-prin {
  background: var(--var-color-fondo);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title,
.title:focus
.title:active,
.title:hover {
  
font-size: 44px;
line-height: 60px;


text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;

}


.button-index {
 
    font-size: 16px;
    line-height: 1.875em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid var(--brand-color);
   color:#f5f4fa;
   background: #2196F3;
}


.princip-detalles {
  display: flex;
  
}

.title-a  {
  
  
  font-size: 14px;
  line-height: 1.428em;
  letter-spacing: 0.03em;
  color: var(--var-color-title);
  justify-content: center;
}

.text-a  {
 
font-size: 14px;
line-height: 24px;
justify-content: center;


letter-spacing: 0.03em;

color: #757575;
}
.container-imges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.title2 {
  margin: auto;
  padding-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--var-color-title);
}
.list-img {
  display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.images-detalle1 {

  list-style: none;
}

.images-detalle {
  
  list-style: none;
}


.images-prin-detalle:hover {
  border: 2px solid var(--var-color-fondo-hover-focus);
  border-radius: 2px;
  list-style: none;
  color: #2196F3;

  color: var(--var-color-title);
}

.container-equipo {
  background: var(--var-color-fondo1);
  
 

}


.title3 {
 
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
}

.container-ftr {
  background: #2f303a;
}

.link2 {
  font-size: 14px;
  color: #ffffff;
  
}
.link2:hover {
  color: #2196F3;
}

.link3 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.link3:hover {
  color: #2196F3;
}
.buttons-conatiner {
  display: flex;
}
.button:hover {
  background: #2196F3;
  color: #f5f4fa;
}

.button1 {
  cursor: pointer;

  background: #2196f3;
  color: #ffffff;
}

.button1:hover {
  background: #2196f3;
  color: #ffffff;
}

.img-portafolio {
  width: 370px;
  height: 294px;
  padding-right: 1px;
  cursor: pointer;
}
.img-portafolio:hover {
  border: 2px solid var(--var-color-fondo-hover-focus);
  border-radius: 2px;
  list-style: none;
  color: #2196F3;

  color: var(--var-color-title);
}