body {
  font-family: 'Roboto', 'Arial', sans-serif;
  Background: #ffffff;
}
:root {
  --var-color-text: #757575;
  --var-color-fondo-hover-focus: #2196F3;
  --var-colo-text-hover-focus: #FFFFFF;
  --var-color-fondo: #2F303A;
  --var-color-fondo1: #F5F4FA;
}

.header {
 display: flex;
  background: #ffffff;
}

.link-web {
  text-decoration: none;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15em;
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196F3;

}

.ul {
  list-style: none;
}
.stud-text {
  text-decoration: none;
  font-size: 14px;
  font-family: 'releway';
  color: #2196f3;
}

.stud-tex {
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  font-family: 'releway';
  
}
.stud-tex:hover {
  color: #2196f3;
  text-decoration: none;
  font-size: 14px;
 
}
  

.link:hover {
  font-style: 14px;
  display: flex;
  text-decoration: non;
  color: #19191a;
  
}

.email:hover {
  font-size: 14px;
  color: #2196f3;

}

.email {
  font-size: 14px;
  color:#2196F3
  
}

.contact:hover {
  font-size: 14px;
  color: #2196f3;
  
}

.contact {
  font-size: 14px;
  cursor: pointer;
  color: black;
}
main {
  background: var(--var-colo-text-hover-focus);
}

.container-prin {
  background: var(--var-color-fondo);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title {
  display: flex;
  font-size: 44px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Roboto';
  justify-content: center;
  justify-items: center;
  line-height: 60px;
}
.button-index:hover {
  background: #2196f3;
  color: #ffffff;
}

.button-index {
  display: flex;
  background: #2196f3;
  color: #f5f4fa;
  justify-content: center;
  font-size: 16px;

  cursor: pointer;
}

.button {
  cursor: pointer;

  background: #f5f4fa;
}
.button:hover {
  background: #2196f3;
  color: #ffffff;
}
.princip-detalles {
  display: flex;
  margin: auto;
  width: 80%;
}

.title-a  {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--var-color-title);
}

.text-a  {
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--var-color-text);
}
.container-img {
  width: 1173.16px;
  height: 425px;
  left: 215px;
  top: 991px;
  display: block;
  margin: auto;
}

.title2 {
  font-size: 36px;
  display: flex;
}

.container-equipo {
  background: var(--var-color-fondo1);
  display: flex;
  margin: auto;
  width: 80%;

}

.title3 {
  font-size: 36px;
  color: #212121;
}

.container-ftr {
  background: #2f303a;
}

.link2 {
  font-size: 14px;
  font-family: 'Roboto';
  font-style: normal;
  color: #ffffff;
  
}
.link2:hover {
  color: #2196F3;
}

.link3 {
  font-size: 14px;
  font-family: 'Roboto';
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.link3:hover {
  color: #2196F3;
}
.buttons-conatiner {
  display: flex;
}

.button1 {
  cursor: pointer;

  background: #2196f3;
  color: #ffffff;
}

.button1:hover {
  background: #2196f3;
  color: #ffffff;
}
img:hover {
  left: calc(50% - 370px/2);
top: calc(50% - 404px/2 - 464px);

background: #FFFFFF;
border: 1px solid #EEEEEE;
color: #2196F3;
}
